@model WebShop.Areas.Admin.Models.EditUserModel
@using WebShop.Domain.Entities.Identity
@{
    ViewData["Title"] = "Редагувати дані";
}

<h1>@ViewData["Title"]</h1>

<h4>CatEditModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameUser" class="control-label"></label>
                <input asp-for="NameUser" class="form-control" />
                <span asp-validation-for="NameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label" asp-area="admin"></label>                
                <div>
                    <img id="profilePicture"src="/images/@Model.Image"  style="width: 150px; height: 150px;">
                </div>
                <input asp-for="Image" type="file"
                       class="form-control" src="/images/@Model.Image"  object-fit: cover"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoleUser" class="control-label"></label>
                <input asp-for="RoleUser" class="form-control" />
                <span asp-validation-for="RoleUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти зміни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
