
@model UserNavbarInfoViewModel

<div class="row">
    <div class="col-md-12">
        <img src="/images/@Model.Image" style="width:40px;height:40px; object-fit:cover; border-radius:30px " />
        <b class="text-light">@Model.Name</b>&nbsp; &nbsp; &nbsp;
    </div>
</div>