
@model UserNavbarInfoViewModel

<div class="row">
    <div class="col-md-12">
        <img src="/userImages/g0viy2k1.w2f.jpeg" style="width:40px;height:40px; object-fit:cover; border-radius:30px " />
        <b class="text-light">@Model.Name</b>
    </div>
</div>